!!!
%html
  %head
    %title= request.path_info[1..-1] + ' - REST assured'
    = stylesheet_link_tag '/css/inuit.css'
    = stylesheet_link_tag '/css/grid.inuit.css'
    = stylesheet_link_tag '/css/base.css'
    = stylesheet_link_tag '/css/jquery.jgrowl.css'
    = stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/themes/base/jquery-ui.css'
    = javascript_script_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'
    = javascript_script_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js'
    = javascript_script_tag '/javascript/jquery.jgrowl_minimized.js'
    = javascript_script_tag '/javascript/application.js'
  %body.wrapper
    %ul.nav
      %li= link_to 'Doubles', '/doubles'
      %li &#124;
      %li= link_to 'Redirects', '/redirects'

    - if flash[:notice]
      .message.success= flash[:notice]
    - elsif flash[:error]
      .message.error= flash[:error]

    = yield
