!!!
%html
  %head
    %title= request.path_info.sub(%r{.*/([^/]*)$}, '\\1')
    = stylesheet_link_tag '/css/inuit.css'
    = stylesheet_link_tag '/css/grid.inuit.css'
    = stylesheet_link_tag '/css/base.css'
  %body.wrapper
    = yield
