%h2 Doubles index
%a{:href => '/doubles/new'} New double
%table
  %thead
    %tr
      %th Request fullpath
      %th Request path pattern
      %th Description
      %th Verb
      %th Status
      %th Delay
      %th Active?
      %th &nbsp;
  %tbody
    - @doubles.group_by {|f| (f.fullpath || f.pathpattern) + f.verb }.each do |group, fs|
      - fs.each_with_index do |f, i|
        %tr{:id => "double_row_#{f.id}"}
          - if i == 0
            %td{:rowspan => fs.size}
              - if f.verb == 'GET'
                %a{:href => f.fullpath, :target => '_blank'}= f.fullpath
              - else
                = f.fullpath
          %td= f.pathpattern
          %td= f.description
          %td= f.verb
          %td= f.status
          %td= f.delay
          %td.label.text-center
            - if fs.size > 1
              %input.active-double-toggle{:type => 'radio', :name => group, :checked => f.active, :data => { 'double-id' => f.id }}
            - else
              yes
          %td.edit-link.text-center.white-space-nowrap
            %a{:href => "/doubles/#{f.id}/edit"} Edit
            |
            %a.delete_link{:href => "/doubles/#{f.id}"} Delete

:javascript
  $(function() {
    $('td.label').click(function() {
        $('input', this).click();
    });

    $('input.active-double-toggle').click(function(e) {
        e.stopPropagation();

        $.post(
          '/doubles/' + $(this).data('doubleId'),
          { _method: 'put', active: 't' },
          function(data) { $.jGrowl(data) }
        );
    });
  });
