%h2 Doubles index
%a{:href => '/doubles/new'} New double
%table
  %thead
    %tr
      %th Request fullpath
      %th Verb
      %th Description
      %th Status
      %th Active?
      %th &nbsp;
  %tbody
    - @doubles.group_by {|f| f.fullpath}.each do |fullpath, fs|
      - fs.each_with_index do |f, i|
        %tr{:id => "double_row_#{f.id}"}
          - if i == 0
            %td{:rowspan => fs.size}
              %a{:href => fullpath, :target => '_blank'}= fullpath
          %td= f.verb
          %td= f.description
          %td= f.status
          %td.label.text-center
            %input.active-double-toggle{:type => 'radio', :name => fullpath, :checked => f.active, :data => { :double_id => f.id }}
          %td.edit-link.text-center.white-space-nowrap
            %a{:href => "/doubles/#{f.id}/edit"} Edit
            |
            %a.delete_link{:href => "/doubles/#{f.id}"} Delete

:javascript
  $(function() {
    $('td.label').click(function() {
        $('input', this).click();
    });

    $('input.active-double-toggle').click(function(e) {
        e.stopPropagation();

        $.post(
          '/doubles/' + this.getAttribute('data-double_id'),
          { _method: 'put', active: 't' },
          function(data) {
            $.jGrowl(data);
          }
        );
    });
  });
